:root {
  --negro: #393939;
  --red: #e60012; 
  --gray: #484848;

  /* Tipografía */
  --tipo-principal: 'museo-sans','Open Sans', sans-serif;
}

/* Reset */
* {
  margin: 0;
  padding: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  vertical-align: baseline;
}
img, picture, video, iframe, figure {
  max-width: 100%;
  width: 100%;
  display: block;
  /* opcional */
  -o-object-fit: cover;
    object-fit: cover;
  /* opcional */
  -o-object-position: center center;
    object-position: center center;
}
a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}
p a {
  display: inline;
}
li {
  list-style-type: none;
}
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
h1, h2, h3, h4, h5, h6, p, span, a, strong, blockquote, i, b, u, em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}
/* Configuramos el texto que seleccionamos */
::-moz-selection {
  background-color: var(--negro);
  color: var(--blanco);
}
::selection {
  background-color: var(--negro);
  color: var(--blanco);
}
/* Nivelamos problemas de tipografías y colocación de formularios */
form, input, textarea, select, button, label {
  font-family: inherit;
  font-size: inherit;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  background-color: transparent;
  color: inherit;
  display: block;
  /* opcional */
  -webkit-appearance: none;
    -moz-appearance: none;
          appearance: none;
}
/* Evitamos problemas con los SVG */
svg {
  width: 100%;
  display: block;
  fill: currentColor;
}
/* Configuramos la tipografía para toda la web */
body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--tipo-principal);
  color: var(--gray);
  /* opcional */
  line-height: 1.4em;
  /* opcional */
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
  /* opcional */
  font-smooth: always;
  /* opcional */
  -webkit-font-smoothing: antialiased;
  /* opcional */
  -moz-osx-font-smoothing: grayscale;
}

/* ________________________________________ */


.header {
  display: flex;
  flex-direction: column;
}
.header__nav {
  display: flex;
  justify-content: space-between;
  height: 52px;
  border-bottom: .5px solid #d2d2d2;
}

.nav_container{
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.logo__container {
  display: flex;
  background-color: var(--red);
  width: 20%;
}
.logo__img {
  align-self: center;
}

.nav__form {
  display: flex;
  width: 75%;
  justify-content: space-between;
  align-items: center;
  margin-bottom: .5em;
  border-bottom: 1px solid var(--gray);
  overflow: hidden;
}
.nav__form:hover {
  border-bottom: 1px solid var(--red);
}
.form__search {
  display: flex;
  width: 75%;
  align-items: center;
}
.search__icon {
  width: 18px;
  height: 18px;
  background-size: cover;
  object-fit: cover;
}
.search__input {

  width: 90%;
  padding-left: 1em;
  font-size: 1.2rem;
  outline: none;
  color: var(--gray);
}
.search__input:hover {
  color: var(--red);
}

.form__categories {
  display: flex;
  align-items: center;
  width: 30%;
  margin-right: .5em;
  font-size: .9rem;
  color: var(--gray);
}
.categories__container {
  appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;

  display: inline-block;
	width: 100%;
	cursor: pointer;
  padding: 10px 15px;
  height: 42px;
  outline: 0; 
  border: 0;
	font-size: 1.2rem;
	color: var(--negro);
  font-weight: bolder;
  transition: all 0.25s ease;
}
.categories__container select::-ms-expand {
  display: none;
}

.categories__icon {
/*   position: absolute; */
/* 	right: 20px;
	top: calc(50% - 13px); */
	width: 12px;
	height: 12px;
	display: block;
	border-left:3.4px solid var(--negro);
	border-bottom:3.5px solid var(--negro);
	transform: rotate(-45deg); /* Giramos el cuadrado */
	transition: all 0.25s ease;
}

.header__links {
  display: flex; 
  align-items: center;
}
.links--support {
  display: flex;
  align-items: center;
  margin-left: 1.8em;
  font-size: 1.3rem;
  font-weight: bold;

}

.links__icon {
  background-size: cover;
  object-fit: cover;
}

.links__text{
  padding-left: .4em;
}

.login__btn {
  margin-right: 1.5em;
}

.header__btns {
  background-color: orangered;
}